<section>
  <div class="footer-container">
    <div>
      <h3 class="footer-title">Our Partners</h3>
      <ul class="social-list">
        <li>
          <a href="https://www.donnu.edu.ua/uk/" class="social-list-item" target="_blank">
            <svg class="social-icon" width="26" height="26">
              <use href="./img/icons.svg#sphere"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/donnu_vin/" class="social-list-item" target="_blank">
            <svg class="social-icon" width="26" height="26">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/donnu.edu.ua/?locale=ru_RU" class="social-list-item" target="_blank">
            <svg class="social-icon" width="25" height="25">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p>&copy; 2024 All Rights Reserved by Vladyslav Bryzhak</p>
  </div>
</section>